* {
    margin: 0 auto;
    padding: 0;
    max-width: 1500px;
  }

body {
    background-color: #171715;
    color: #FAED26;
    font-family: "Poppins";
} 

img { max-width: 100%; height: auto; }

header{
    height: 100px;
   }

.button {
    background-color: #D74411;
    border: none;
    color: #FAED26;
    padding: 12px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 45px 2px;
    cursor: pointer;
    border-radius: 10px;
    
  }

  .kontakt{
      float: right;
      margin-right: 25px;
      margin-top: 15px;
      font-size: 24px;
      text-decoration: none;
      border: none;
      color: #FAED26;
      
  }

  .desno{
      float: right;
      margin-right: 120px;
      margin-top: 310px;
      
  }

  #autori{
      margin-left: 190px;
  }

  h1{
      font-size: 72px;
  }

  .lijevo{
      padding-left: 200px;
  }

  .desno2 img {
      width: 90px;
      height: 90px;
  }

  .desno2{
    float: right;
    margin-top: 200px;
    margin-left: 200px;
    
}

.button2 {
    background-color: #FAED26;
    border: none;
    color: black;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
    
   
  }

  .gumbovi{
      float: right;
      margin-right: 25px;
  }


  #github span {
      vertical-align: middle;
  }
  
  #github img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

#github{
    float:right;
    margin-top: 110px;
    margin-left: 60px;

}

.lijevo2{
    padding-left: 255px;
    font-size: 72px;
    margin-top: 220px;
}

.lijevo2 a {

   position: relative;
   margin-left: 98px;
}

.naslov{
    margin-top: 450px;
    margin-bottom: 100px;
    text-align: center;
}

.autori{
    margin-top: 200px;
}

.autor span {
    position: relative;
    float: left;
    background-color: #D74411;
    border: none;
    color: #FAED26;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin: 4px 2px;
    border-radius: 10px;
    margin-left: 90px;
    
}
.autor img {
    position: relative;
    float: left;
    clear: both;
    margin-left: 90px;
    margin-top: 50px;
}

.autor{
    position: relative; 
    float: left;
    max-width: 22%;
    margin: 10px;
    padding: 10px;
}

.autor p {
    position: relative; 
    float: left;
    text-align: left;
    margin-top: 50px;
} 

.autor .wutface {
    position: relative; 
    float: left;
    text-align: left;
    margin-left: 95px;
} 

@media only screen and (max-width: 600px) {
    
        header{
            height: 60px;
                 }

       .kontakt{
        float: right;
        margin-right: 25px;
        margin-top: 15px;
        font-size: 20px;
        text-decoration: none;
        border: none;
        color: #FAED26;
        
        }

        .desno{
            float: right;
            margin-right: 120px;
            margin-top: 100px;
            
        }

        h1{
            font-size: 30px;

        }

  }